.container {
  min-height: 100vh;
}

.main {
  padding: 3.5rem 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  min-height: calc(100vh - 56px);
}

.footer {
  width: 100%;
  height: 56px;
  padding-bottom: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #292c33;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footerLogo {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .125rem;
}

.footerCp {
  margin-bottom: .125rem;
}

.header {
  z-index: 10;
  width: 100%;
  top: 0;
  position: fixed;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #121417;
}